body{
  background-color: #F7ECDE;
  font-family: sans-serif;
  }
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 3%;
  border-color: #E9DAC1;
}
h1{
color: #54BAB9;
font-family: fantasy;
letter-spacing: 1.2px;
font-weight: lighter;S
}
h3{
color: #9ED2C6;
}
 a{
   text-decoration: none;
   color: inherit;
 }
